/* Adding fonts
 type fonts .eot, .woff, .ttf , .svg
 variables:
 $font-file - name files font
 $font-name - default = $font-file
 $font-style - style for fonts
 $font-weight - font weight*/
/* @include add-font('../fonts/AudiType-Normal', 'Audi');
@include add-font('../fonts/AudiType-Bold', 'Audi', normal, bold);
@include add-font('../fonts/AudiType-ExtendedNormal', 'AudiExtended');
@include add-font('../fonts/AudiType-ExtendedBold', 'AudiExtended', normal, bold); */
/* $base-font: 'Audi', Verdana, Geneva, sans-serif;
$ext-font: 'AudiExtended', Verdana, Geneva, sans-serif; */
/**
 * Meyer reset
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* @import "audi_pack/audi_pack"; */
img {
  display: block;
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s; }

.clr:after {
  content: '';
  display: table;
  clear: both; }

.__hidden {
  display: none; }

.tel {
  pointer-events: none;
  cursor: default; }

.__disable {
  pointer-events: none;
  cursor: default;
  opacity: .5; }

.center-ic {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto; }

/* INPUTS */
input, textarea {
  display: block;
  width: 100%;
  border: 2px solid #eee;
  padding: 0 10px;
  border-radius: 0;
  outline: none;
  /* Firefox 19+ */
  /* Firefox 18- */ }
  input:focus, textarea:focus {
    outline: none; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 12px; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    font-size: 12px; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    font-size: 12px; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 12px; }

input {
  height: 45px;
  line-height: 45px; }

input[type='submit'],
button[type='submit'] {
  outline: none;
  cursor: pointer; }

textarea {
  resize: vertical;
  padding: 10px; }

.wrap-inp {
  margin-bottom: 20px; }

#form-status {
  margin-top: 20px; }

/* checkbox */
.checkbox {
  display: none; }
  .checkbox-lbl {
    cursor: pointer;
    display: block;
    text-align: left;
    padding-left: 16px;
    position: relative; }
    .checkbox-lbl:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 3px;
      width: 6px;
      height: 6px;
      background: #d1d1d1;
      -webkit-transition: background .2s;
      -o-transition: background .2s;
      -moz-transition: background .2s;
      transition: background .2s; }

/* END INPUTS */
/* BUTTONS */
/* END BUTTONS */
/* TITLES */
/* END TITLES */
@media screen and (max-width: 900px) {
  .tel {
    pointer-events: auto;
    cursor: pointer; } }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  height: 100%;
  line-height: 1;
  /* font-family: $base-font;
  font-size: 14px;
  color:$color-font-txt; */ }

.container {
  max-width: 1380px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  /* align center, add default padding*/
  padding-left: 40px;
  padding-right: 40px; }

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
     -moz-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px; }

/* footer to bottom of page */
.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

.cnt-wrap {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
     -moz-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
     -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

/* end footer to bottom of page */
