@import 'sprite';
@include sprites($spritesheet-sprites); //Use for sprites
@import 'elements/elements';
@import 'blocks/blocks';
@import 'responsive';

.__hidden{
  display: none;
}
.__disable {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}
