// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-i-name: 's-i';
$s-i-x: 0px;
$s-i-y: 96px;
$s-i-offset-x: 0px;
$s-i-offset-y: -96px;
$s-i-width: 1px;
$s-i-height: 1px;
$s-i-total-width: 193px;
$s-i-total-height: 97px;
$s-i-image: '../img/sprites/sprite.png';
$s-i: (0px, 96px, 0px, -96px, 1px, 1px, 193px, 97px, '../img/sprites/sprite.png', 's-i', );
$s-js-icon-name: 's-js-icon';
$s-js-icon-x: 97px;
$s-js-icon-y: 0px;
$s-js-icon-offset-x: -97px;
$s-js-icon-offset-y: 0px;
$s-js-icon-width: 96px;
$s-js-icon-height: 96px;
$s-js-icon-total-width: 193px;
$s-js-icon-total-height: 97px;
$s-js-icon-image: '../img/sprites/sprite.png';
$s-js-icon: (97px, 0px, -97px, 0px, 96px, 96px, 193px, 97px, '../img/sprites/sprite.png', 's-js-icon', );
$s-sprite-name: 's-sprite';
$s-sprite-x: 0px;
$s-sprite-y: 0px;
$s-sprite-offset-x: 0px;
$s-sprite-offset-y: 0px;
$s-sprite-width: 97px;
$s-sprite-height: 96px;
$s-sprite-total-width: 193px;
$s-sprite-total-height: 97px;
$s-sprite-image: '../img/sprites/sprite.png';
$s-sprite: (0px, 0px, 0px, 0px, 97px, 96px, 193px, 97px, '../img/sprites/sprite.png', 's-sprite', );
$spritesheet-width: 193px;
$spritesheet-height: 97px;
$spritesheet-image: '../img/sprites/sprite.png';
$spritesheet-sprites: ($s-i, $s-js-icon, $s-sprite, );
$spritesheet: (193px, 97px, '../img/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
