.loaderWrapper{
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: .60;
}

.loader, .loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.loader {
  border: 5px solid rgba(#ec2227, 0.25);
  position: fixed;
  margin: -25px 0 0 -25px;
  top: 50%;
  left: 50%;
  text-indent: -9999em;
  border-left: 5px solid #ec2227;
  -webkit-animation: mymove 5s infinite linear;
  animation: mymove 1.2s infinite linear;
}
@keyframes mymove {

  100% {transform: rotate(360deg)}
}

@-webkit-keyframes mymove {
  100% {transform: rotate(360deg)}
}