a {
  color: #0a9447;
}
.btn-primary {
  background-color: #0a9447;
  border-color: #0a9447;
}
.btn-primary:hover {
  background-color: #0c984a;
  border-color: #0c984a;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #0a9447;
  border-color: #0a9447;
}
.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #0c984a;
  border-color: #0c984a;
  box-shadow: 0 0 0 0.2rem rgba(10,148,71,.5);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #0c984a;
  border-color: #0c984a;
}
.btn-outline-primary {
  background-color: #0a9447;
  border-color: #0a9447;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0a9447;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #0a9447;
  border-color: #0a9447;
}
.btn-link {
  color: #0a9447;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #0a9447;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #0a9447;
  background-color: #0a9447;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #0a9447;
  background-color: #0a9447;
}
.custom-range::-webkit-slider-thumb {
  background-color: #0a9447;
}
.custom-range::-moz-range-thumb {
  background-color: #0a9447;
}
.custom-range::-ms-thumb {
  background-color: #0a9447;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #0a9447;
}
.page-link{
  color: #0a9447;
}
.page-item.active .page-link {
  background-color: #0a9447;
  border-color: #0a9447;
}
.badge-primary {
  background-color: #0a9447;
}
a.badge-primary:hover, a.badge-primary:focus {
  background-color: #0c984a;
}
.progress-bar {
  background-color: #0a9447;
}
.list-group-item.active {
  background-color: #0a9447;
  border-color: #0a9447;
}
.bg-primary {
  background-color: #0a9447 !important;
}
a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0c984a !important;
}
.border-primary {
  border-color: #0a9447 !important;
}
.text-primary {
  color: #0a9447 !important;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #0a9447; }

.sidebar-dark-primary .nav-sidebar.nav-legacy > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar.nav-legacy > .nav-item > .nav-link.active {
  border-color: #0a9447; }


.sidebar-dark-blue .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-blue .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #0a9447; }

.sidebar-dark-blue .nav-sidebar.nav-legacy > .nav-item > .nav-link.active,
.sidebar-light-blue .nav-sidebar.nav-legacy > .nav-item > .nav-link.active {
  border-color: #0a9447; }

.nav-pills .nav-link:not(.active):hover {
  color: #0a9447; }

.navbar-primary {
  background-color: #0a9447; }
.navbar-blue {
  background-color: #0a9447; }
.custom-switch.custom-switch-off-primary .custom-control-input ~ .custom-control-label::before {
  background: #0a9447;}
.custom-switch.custom-switch-on-primary .custom-control-input:checked ~ .custom-control-label::before {
  background: #0a9447;}
.custom-switch.custom-switch-off-blue .custom-control-input ~ .custom-control-label::before {
  background: #0a9447;}
.custom-switch.custom-switch-on-blue .custom-control-input:checked ~ .custom-control-label::before {
  background: #0a9447;}
.custom-range.custom-range-primary::-webkit-slider-thumb {
  background-color: #0a9447; }
.custom-range.custom-range-primary::-moz-range-thumb {
  background-color: #0a9447; }
.custom-range.custom-range-primary::-ms-thumb {
  background-color: #0a9447; }
.custom-range.custom-range-blue::-webkit-slider-thumb {
  background-color: #0a9447; }
.custom-range.custom-range-blue::-moz-range-thumb {
  background-color: #0a9447; }
.custom-range.custom-range-blue::-ms-thumb {
  background-color: #0a9447; }
.todo-list .primary {
  border-left-color: #0a9447; }
.todo-list .blue {
  border-left-color: #0a9447; }
.card-primary:not(.card-outline) .card-header {
  background-color: #0a9447; }
.card-primary.card-outline {
  border-top: 3px solid #0a9447; }
.card-primary.card-outline-tabs .card-header a.active {
  border-top: 3px solid #0a9447; }
.card-blue:not(.card-outline) .card-header {
  background-color: #0a9447; }
.card-blue.card-outline {
  border-top: 3px solid #0a9447; }
.card-blue.card-outline-tabs .card-header a.active {
  border-top: 3px solid #0a9447; }
.alert-primary {
  background: #0a9447;
  border-color: #0a9447; }
.direct-chat-primary .right > .direct-chat-text {
  background: #0a9447;
  border-color: #0a9447;}
.direct-chat-blue .right > .direct-chat-text {
  background: #0a9447;
  border-color: #0a9447;}
.direct-chat-blue .right > .direct-chat-text::after, .direct-chat-blue .right > .direct-chat-text::before {
  border-left-color: #0a9447; }
.select2-container--default.select2-container--open {
  border-color: #0a9447; }
.select2-container--default .select2-results__option--highlighted {
  background-color: #0a9447;}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
 background-color: #0a9447;
}
.select2-container--default .select2-primary .select2-results__option--highlighted,
.select2-primary .select2-container--default .select2-results__option--highlighted {
  background-color: #0a9447;}
.select2-container--default .select2-primary .select2-selection--multiple .select2-selection__choice,
.select2-primary .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #0a9447;
  border-color: #0a9447;}
.select2-container--default .select2-blue .select2-results__option--highlighted,
.select2-blue .select2-container--default .select2-results__option--highlighted {
  background-color: #0a9447;}
.select2-container--default .select2-blue .select2-selection--multiple .select2-selection__choice,
.select2-blue .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #0a9447;
  border-color: #0a9447; }
.slider-primary .slider .slider-selection {
  background: #0a9447; }
.slider-blue .slider .slider-selection {
  background: #0a9447; }
.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-primary > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
  border-color: #0a9447; }
.icheck-primary > input:first-child:not(:checked):not(:disabled):focus + label::before,
.icheck-primary > input:first-child:not(:checked):not(:disabled):focus + input[type="hidden"] + label::before {
  border-color: #0a9447; }
.icheck-primary > input:first-child:checked + label::before,
.icheck-primary > input:first-child:checked + input[type="hidden"] + label::before {
  background-color: #0a9447;
  border-color: #0a9447; }
.icheck-blue > input:first-child:not(:checked):not(:disabled):hover + label::before,
.icheck-blue > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
  border-color: #0a9447; }
.icheck-blue > input:first-child:not(:checked):not(:disabled):focus + label::before,
.icheck-blue > input:first-child:not(:checked):not(:disabled):focus + input[type="hidden"] + label::before {
  border-color: #0a9447; }
.icheck-blue > input:first-child:checked + label::before,
.icheck-blue > input:first-child:checked + input[type="hidden"] + label::before {
  background-color: #0a9447;
  border-color: #0a9447; }
#toast-container .toast {
  background-color: #0a9447; }
.pace-primary .pace .pace-progress {
  background: #0a9447; }
.pace-barber-shop-primary .pace .pace-progress {
  background: #0a9447; }
.pace-bounce-primary .pace .pace-activity {
  background: #0a9447; }
.pace-center-atom-primary .pace-progress::before {
  background: #0a9447;}
.pace-center-atom-primary .pace-activity {
  border-color: #0a9447; }
.pace-center-atom-primary .pace-activity::after, .pace-center-atom-primary .pace-activity::before {
 border-color: #0a9447; }
.pace-center-radar-primary .pace .pace-activity {
  border-color: #0a9447 transparent transparent; }
.pace-center-radar-primary .pace .pace-activity::before {
  border-color: #0a9447 transparent transparent; }
.pace-center-simple-primary .pace {
  border-color: #0a9447; }
.pace-center-simple-primary .pace .pace-progress {
  background: #0a9447; }
.pace-material-primary .pace {
 color: #0a9447; }
.pace-corner-indicator-primary .pace .pace-activity {
  background: #0a9447; }
.pace-flash-primary .pace .pace-progress {
  background: #0a9447; }

.pace-flash-primary .pace .pace-progress-inner {
 box-shadow: 0 0 10px #0a9447, 0 0 5px #0a9447; }

.pace-flash-primary .pace .pace-activity {
  border-top-color: #0a9447;
  border-left-color: #0a9447; }

.pace-loading-bar-primary .pace .pace-progress {
 background: #0a9447;
 color: #0a9447; }

.pace-loading-bar-primary .pace .pace-activity {
  box-shadow: inset 0 0 0 2px #0a9447, inset 0 0 0 7px #ffffff; }

.pace-mac-osx-primary .pace .pace-progress {
  background-color: #0a9447;
  box-shadow: inset -1px 0 #0a9447, inset 0 -1px #0a9447, inset 0 2px rgba(255, 255, 255, 0.5), inset 0 6px rgba(255, 255, 255, 0.3); }
.pace-progress-color-primary .pace-progress {
  color: #0a9447; }
.pace-blue .pace .pace-progress {
  background: #0a9447; }
.pace-barber-shop-blue .pace .pace-progress {
  background: #0a9447; }
.pace-bounce-blue .pace .pace-activity {
  background: #0a9447; }
.pace-center-atom-blue .pace-progress::before {
  background: #0a9447; }
.pace-center-atom-blue .pace-activity {
  border-color: #0a9447; }
.pace-center-atom-blue .pace-activity::after, .pace-center-atom-blue .pace-activity::before {
  border-color: #0a9447; }
.pace-center-radar-blue .pace .pace-activity {
  border-color: #0a9447 transparent transparent; }
.pace-center-simple-blue .pace {
 border-color: #0a9447; }

.pace-center-simple-blue .pace .pace-progress {
  background: #0a9447; }
.pace-material-blue .pace {
  color: #0a9447; }
.pace-corner-indicator-blue .pace .pace-activity {
 background: #0a9447; }
.pace-flash-blue .pace .pace-progress {
 background: #0a9447; }

.pace-flash-blue .pace .pace-progress-inner {
 box-shadow: 0 0 10px #0a9447, 0 0 5px #0a9447; }

.pace-flash-blue .pace .pace-activity {
  border-top-color: #0a9447;
  border-left-color: #0a9447; }

.pace-loading-bar-blue .pace .pace-progress {
 background: #0a9447;
 color: #0a9447;}

.pace-loading-bar-blue .pace .pace-activity {
  box-shadow: inset 0 0 0 2px #0a9447, inset 0 0 0 7px #ffffff; }

.pace-mac-osx-blue .pace .pace-progress {
 background-color: #0a9447;
 box-shadow: inset -1px 0 #0a9447, inset 0 -1px #0a9447, inset 0 2px rgba(255, 255, 255, 0.5), inset 0 6px rgba(255, 255, 255, 0.3); }

.pace-progress-color-blue .pace-progress {
  color: #0a9447; }

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background: #0a9447;}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-blue,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-blue {
  background: #0a9447;}
blockquote {
 border-left: 0.7 rem solid #0a9447;
}
blockquote h4,
blockquote h5,
blockquote h6 {
 color: #0a9447;
}
blockquote.quote-primary {
  border-color: #0a9447; }
blockquote.quote-primary h4,
blockquote.quote-primary h5,
blockquote.quote-primary h6 {
  color: #0a9447; }
blockquote.quote-blue {
  border-color: #0a9447; }
blockquote.quote-blue h4,
blockquote.quote-blue h5,
blockquote.quote-blue h6 {
 color: #0a9447; }
.text-blue {
  color: #0a9447; }
.bg-primary {
  background-color: #0a9447 !important; }
.bg-primary.btn:hover {
  border-color: #0c984a;}
.bg-primary.btn:not(:disabled):not(.disabled):active, .bg-primary.btn:not(:disabled):not(.disabled).active, .bg-primary.btn:active, .bg-primary.btn.active {
  background-color: #0c984a !important;
  border-color: #0c984a;
}
.bg-blue {
  background-color: #0a9447 !important; }
.bg-blue.btn:hover {
  border-color: #0c984a;}

.bg-blue.btn:not(:disabled):not(.disabled):active, .bg-blue.btn:not(:disabled):not(.disabled).active, .bg-blue.btn:active, .bg-blue.btn.active {
 background-color: #0c984a !important;
 border-color: #0c984a; }

.bg-gradient-primary {
  background: #0a9447 linear-gradient(180deg, #0c984a, #0a9447) repeat-x !important; }
.bg-gradient-primary.btn:hover {
  border-color: #0c984a; }
.bg-gradient-primary.btn:hover {
  background: #0c984a linear-gradient(180deg, #0c984a, #0c984a) repeat-x !important; }

.bg-gradient-primary.btn:not(:disabled):not(.disabled):active, .bg-gradient-primary.btn:not(:disabled):not(.disabled).active, .bg-gradient-primary.btn:active, .bg-gradient-primary.btn.active {
  border-color: #0c984a;}

.bg-gradient-primary.btn:not(:disabled):not(.disabled):active, .bg-gradient-primary.btn:not(:disabled):not(.disabled).active, .bg-gradient-primary.btn:active, .bg-gradient-primary.btn.active {
  background: #0c984a linear-gradient(180deg, #0c984a, #0c984a) repeat-x !important; }

.bg-gradient-blue {
 background: #0a9447 linear-gradient(180deg, #0a9447, #0a9447) repeat-x !important; }
.bg-gradient-blue.btn:hover {
  border-color: #0a9447; }

.bg-gradient-blue.btn:hover {
 background: #0c984a linear-gradient(180deg, #0c984a, #0c984a) repeat-x !important; }

.bg-gradient-blue.btn:not(:disabled):not(.disabled):active, .bg-gradient-blue.btn:not(:disabled):not(.disabled).active, .bg-gradient-blue.btn:active, .bg-gradient-blue.btn.active {
 border-color: #0a9447; }

.bg-gradient-blue.btn:not(:disabled):not(.disabled):active, .bg-gradient-blue.btn:not(:disabled):not(.disabled).active, .bg-gradient-blue.btn:active, .bg-gradient-blue.btn.active {
  background: #0a9447 linear-gradient(180deg, #0a9447, #0a9447) repeat-x !important; }
a.text-muted:hover {
  color: #0a9447 !important; }
.accent-primary a {
  color: #0a9447; }
.accent-primary .page-item.active .page-link {
 background-color: #0a9447;
 border-color: #0a9447; }

.accent-blue a {
  color: #0a9447; }

.accent-blue .page-item.active .page-link {
 background-color: #0a9447;
 border-color: #0a9447; }

.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td,
.table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
  white-space: nowrap;
}

:root {
--blue: #0a9447;
--primary: #0a9447;
}
